/* Global styles */
body {
    margin: 0;
    font-family:  'Courier New', Courier, monospace;
  }
  
  /* Header styles */
  .header {
    position: relative;
  }
  
  .header-background {
    background-image: url('/images/jaf13.jpg');
    background-size: cover;
    height: 450px;
    box-shadow: 300px -180px 250px rgba(0, 0, 0, 0.8) inset;

  }
  
  .theme {
    /*position: absolute;*/
    color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 600px 600px;
    flex-direction: row;
    justify-content: center;
    
  }
  .theme h2 {
    font-weight: 900;
    font-size: 30px;
  }

  .theme div {
    width: 550px;
    margin-left: 40px;
  }
  
  #theme {
    color: white;
    margin: 40px;
  }
  /*.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
  }*/

  .navbar {
    background-color: rgb(9, 23, 77, 0.9);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .navbar a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-weight: 800;
  }
  .navbar a:hover {
    transition: 0.3s;
    opacity: 0.7;
  }

  .logo {
    width: 270px;
    height: 160px;
    padding: 15px;
  }
  
  .logo img {
    width: 73px;
    height: 70px;
    margin-top: 40px;
  }

  
  /* Main section styles */
  .main {
    padding: 20px;
  }
  
  
    .background-container {
        display: flex;
        box-shadow: 3px 3px 8px black;
        background-color: rgba(213, 214, 213, 0.4);
        padding: 20px 0;
    }

    .background-container h2 {
      font-size: 35px;
    }
    .background-text-container {
        width: 550px;
        padding: 0 20px;
    }
    .background-chart-container {
     display: flex;
     flex-wrap: wrap;
     padding: 10px;
     margin-left: 150px;
     justify-content: space-around;
    }
    .background-chart-container div {
        background-color: rgb(34, 153, 233);
        color: rgb(155, 11, 11);
        width: 200px;
        height: 200px;
        box-shadow: 1px 3px 8px rgb(9, 9, 148);
        border-radius: 100px;
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    } 

    .background-chart-container h1 {
      
    }
    
    .program-headings {
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 25px;
    }
    .program-section {
      display: flex;
      grid-template-columns: 500px 500px;
      padding: 20px;
      margin-top: 20px;
      justify-content: space-between;
    }
    
     .program-imge-container, img{
      border-radius: 3px;
      width: 300px;
      height: 250px;
    }
    
    .program-imge-container {
      width: 300px;
      height: 600px;
       display: grid;
       justify-content: space-around;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       text-align: center;
    }

     .general-objectives {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      padding-left: 150px;
     }
    .activities {
      padding-top: 100px;
    }

    .specific-container {
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 30px;
      column-gap: 20px;
      
    }

    .specific-container div {
      background-color: rgb(15, 190, 9, 0.3);
      box-shadow: -3px 3px 9px rgb(4, 77, 4);
      align-items: center;
      justify-content: center;
      padding: 18px;
    }

    .activities-heading {
      display: grid;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }

    .general-activities-container {
      /*background-image: url(/images/Crumpled\ Paper.jpg);*/
      display: flex;
      padding: 60px;
      
    }

    .general-activities-container img {
      margin-right: 40px;
      margin-left: 80px;
      height: 270px;
      
    }

    .members {
      margin: 100px;
    }

  .meet-board-members-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 5px;
   margin: 50px 0;
  }

  .meet-board-members-container div {
    display: grid;
    justify-content: center;
    border-radius: 5px;
    
  }
  
  .meet-board-members-container div img {
    height: 300px;
    width: 300px;
    border-radius: 185px;
    box-shadow: -2px -3px 7px rgb(175, 175, 175);
  }

  .member-description {
    background-color: black;
    color: white;
    box-shadow: 2px 3px 7px rgb(175, 175, 175);
    margin-bottom: 50px;
    line-height: 1.3;
    width: 300px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #member {
   display: flex;
   flex-direction: column;
   margin-left: 400px;
  }

  .know-more-container {
    display: flex;
    justify-content: center;
  }
  .know-more {
    display: flex;
    padding: 20px;
    color: azure;
    flex-direction: column;
    margin-top: 0;
    margin-left: 120px;
    margin-bottom: 70px;
    background-color: green;
    width: 180px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
  }

  .know-more button {
    width: 160px;
    height: 30px;
  }

  .donation-section {
    background-color: rgb(241, 33, 33);
    color: white;
    width: 800px;
    height: 250px;
    padding: 20px;
    margin-top: 150px;
    margin-left: 150px;
    margin-bottom: 30px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
  }

  #text {
    color: rgb(226, 220, 220);
  }
  
  
  
  /* Footer styles */
  .footer {
    background-color: rgb(9, 23, 77);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    color: white;
    font-weight: 800;
  }
  
  .footer-left, .footer-middle, .footer-right {
    flex: 1;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .footer-link {
    font-weight: bold;
    font-size: 20px;
  }

  .footer-left a {
    color: white;
    text-decoration: none;
  }
  
  .footer-left a:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  
  #footer-link {
    font-weight: bold;
    font-size: 20px;
  }
  
  #partnshp {
    font-weight: bold;
    font-size: 20px;
  }
  
  .social-icons {
    display: flex;
  }
  
  
  .social-icon img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }
  
  